body{
    margin: 0px;

}

.bg-container{
    height: 100vh;
    background-color: lightpink;
    padding: 30px;
    
}
.card-container{
    width: 90%;
    background-color: lightblue;
    border: 3px solid black;
    max-width: 800px;
    margin: auto;
    padding: 10px;
}
    
.body-container{
    height: 50vh;
    overflow-y: auto;
    border-top: 2px solid lightslategray;
    
}
.image{
   
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 400px;
}
.images{
    width: 200px;
    height: 200px;
}